/*.custom-container,
* {
  overflow: hidden;
  font-family: poppins;
  font-size: 16px;
  font-weight: 500;
} */

.custom-container {
  max-width: 100% !important;
  width: 1530px;
  margin: 0 auto;
  max-height: 100% !important;
  height: 780px;
  border: 1px solid yellow;
}

#logo {
  height: 120px;
  margin-left: 10px;
}

.img-logo {
  border: 2px solid #9dc08b;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-top: 10px;
  width: 290px;
}

.dashboard {
  background-color: #edf1d6 !important;
  font-family: poppins;
}

.open-book,
.cap,
.acc-information,
.history,
.logout {
  margin-right: 0;
  margin-left: 40px;
  margin-top: 10px;
  padding: 0 auto;
  height: 40px;
}

.history {
  margin-left: 43px;
}

.logout {
  color: #9dc08b;
}

#essay-btn,
#class-btn,
#acc-btn,
#history-btn,
#logout-btn {
  margin-top: 15px;
  margin-left: 12px;
  border: none;
  background-color: transparent;
}

#essay-lnk,
#class-lnk,
#acc-lnk,
#history-lnk,
#logout-lnk {
  text-decoration: none;
  color: black;
}

#logout-lnk {
  color: #9dc08b;
}

.footer {
  margin-top: 345px;
}

.main-content {
  background-color: white;
  font-family: poppins;
}

#head {
  font-size: 1.75rem;
  font-weight: 800;
  color: #40513b;
  margin-top: 20px;
  margin-left: 10px;
}

.question-cont {
  margin-top: -25px !important;
  background-color: #edf1d6;
  border-radius: 10px;
  box-shadow: 2px 3px #c5c5c5;
  margin-left: 20px;
}

.add-label {
  margin-top: 5px !important;
  margin-bottom: 5px;
  color: #40513b;
  font-size: 13px;
  font-weight: 600;
}

.q-line {
  border: 2px solid #40513b;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 1075px;
}

.bottom {
  margin-bottom: 10px;
}
