.login {
    font-family: Poppins;
}

.container {
    margin: 30px;
}

.main-row {
    height: 500px;
}

/*.col {
    border-style: solid;
    border-width: 1px;   
}*/

.separator {
    margin: 90px;
}

#title {
    /*border-style: solid;
    border-width: 1px;
    border-color: blue;*/
    margin: 200px 20px;
    max-width: 440px;
    height: 200px;
}

.col h1 {
    color: #609966;
    height: max-content;
}

#login-card {
    border-radius: 20px;
    background: #9DC08B;
    padding: 30px 65px;
    height: 700px;
    font-family: Istok Web;
}

#login-card-title {
    color: white;
    font-size: large;
    font-weight: bold;
    margin-top: 40px;

}

.login-card-element {
    text-align: center;
    height: 50px;
}

#login-logo {
    height: 150px;
}

.login-logo-container {
    height: 110px;
}

.login-details {
    text-align: left;
    height: 70px;
}

#login-btn {
    background-color: #609966;
    font-family: Poppins;
    border-color: #EDF1D6;
    font-weight: bold;
    color: #EDF1D6;
    margin: 10px;
}

.login-btns {
    font-family: Poppins;
    color: #40513B;
    font-size: small;
}

#forgotPasswordLink {
    color: #40513B;
    text-decoration: none;
}

#sign-up-link {
    color: #EDF1D6;
}

.sign-up-question {
    margin: 10px !important;
}

.question {
    color: #40513B;
}