body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Poppins;
  }

  .box-container {
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
  }

  .otp-container {
    text-align: center;
    border-style: solid;
    background-color: white;
    border-style: none;
    border-radius: 20px;
    border-width: 1px;
    padding: 50px 100px;
  }

  .otp-question {
    margin: 0 auto;
    color: #609966;
    font-weight: bold !important;
  }

  .otp-statement {
    color: black;
    font-size: small;
  }

  .otp-input {
    display: flex;
    justify-content: center;
    align-items: center; /* Center align vertically */
    margin-top: 20px;
  }

  .otp-box {
    width: 40px;
    height: 60px;
    margin: 0 2px; /* Adjusted margin */
    text-align: center;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
  }

  .otp-box:nth-child(3) {
    margin-right: 5px; /* Adjusted margin for the third box */
  }

  .otp-box:last-child {
    margin-right: 0; /* Remove right margin for the last box */
  }

  .otp-dash {
    font-size: 18px;
  }

  .resend-code {
    margin-top: 20px;
    color: #030000; /* Green color for "Resend Code" */
    font-size: small;
  }

  .submit-button {
    margin-top: 20px;
    padding: 3px 40px;
    background-color: #7d9b7e;
    color: #EDF1D6;
    border-style: solid;
    border-width: 1px;
    border-color: #609966;
    border-radius: 10px;
    cursor: pointer;
  }

  .resend-code span {
    color: #5ea854;
    text-decoration: underline;
    cursor: pointer;
  }